#body {
  background-color: $body_Background;
  min-height: 100%;
  font-family: "Work Sans", sans-serif;
}
form .form-control:focus {
  background-color: transparent;
  border-color: $border_Color;
  outline: 0;
  box-shadow: none;
}
.Login-Screen-Header {
  background-color: $White-color;
  width: 100%;
  min-height: 50px;
  box-shadow: 0 0 0.625rem $border_Color;
  position: fixed;
  z-index: 1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $black_color !important;
}
.dropdown .Strategy:hover {
  background-color: $White-color;
  border-color: $Filter-border-color;
}
a:focus {
  outline: 0;
}
