@import "../Modules/mixins";
@import "../Modules/Variable";
.Setting {
  @include White-Background;
  padding: 2rem;
  .form-control {
    width: 50%;
  }
}
.Password_button {
  .Cancel {
    @include Cancel_button;
  }
  .Cancel:hover {
    background-color: $Cancel;
    color: $black_color;
  }
  .Send {
    @include Send_button;
  }
  .Send:hover {
    background-color: $primary-color;
    color: $White-color;
    font-size: 0.75rem;
  }
}
