@import "../Modules/Variable";
.list-unstyled {
  .sidebar_Icon {
    margin-right: 0.4rem;
  }
  .Dashboard-link {
    color: $White-color;
    font-size: 0.875rem;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 1rem 2rem;
    &:hover {
      text-decoration: none;
    }
    &.active {
      border-left: 3px solid $Dashboard-color;
      .sidebar_Icon {
        color: $primary-color;
      }
    }
  }
  .Dashboard-link:hover {
    border-left: 3px solid $Dashboard-color;
    .sidebar_Icon {
      color: $primary-color;
    }
  }
}
