@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
$White-color: #fff !default;
$black_color: #000 !default;
$primary-color: #0a8dcd !default;
$Svg-color: #d4eaf6 !default;
$border_Color: #ccc !default;
$Table-header: #fafbfb !default;
$Svg_Color: #49aada !default;
$body_Background: #edf0f7 !default;
$Delete-button: #db3a3b !default;
$Add-button: #21a16c !default;
$Cancel: #dfe2e7 !default;
$Schedule: #58b0dc !default;
$Modal-background: #ebf1f5 !default;
$Dashboard-color: #098dcd !default;
$print-button: #37c28c !default;
$PopUp-Color: #ebf1f5 !default;
$smallFont_Color: #9ba2a7 !default;
$caption_Color: #818181 !default;
$Filter-border-color: #8894a5 !default;
$Guideline-list-color: #9b9b9b !default;
$Input-color: #8894a5 !default;
$Forget_password: #5b5b5a !default;

//Buttons Variable
$Buttons_Padding: 0.5rem 1rem;
$border_Radius: 2px;
$Small_font: 0.625rem;
$Medium-font: 0.8rem;
//GLOBAL BOX SHADOW
$base-box-shadow: 0 0 10px $border_Color;
